body,
html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #001f3f;
    color: #ffffff;
    padding: 20px;
}



video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
    z-index: -1;
}



/* KNAPP */
.button {
    background-color: #ffffff27;
    border: 0.5px solid white;
    color: white;
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: -20px 2px;
    cursor: pointer;
}

.button:hover {
    background-color: #ffffff3b;
    /* Bakgrundsfärg ändras vid hover */
}

/* ------------------------ */



.overline {
    margin-top: 30px;
    margin-bottom: -30px;
    font-size: 0.8rem;
    font-family: 'Poppins', sans-serif;
    color: white;
}





/* Container för framsida-text */
.front_text {
    padding: 20px;
    margin-top: -30px;
    /* 420 om det ska vara längst ner */
}




h1 {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 3rem;
    font-weight: 900;
    line-height: 0.9;
}

a:link,
a:visited,
a:hover,
a:active {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 1rem;
    font-weight: 300;
    text-decoration: none;
}