body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    /* background: linear-gradient(
        to bottom, 
        rgba(252, 225, 170, 0.329) 00%, 
        rgba(233, 224, 206, 0.171) 30%, 
        rgb(255, 255, 255) 100%
      ); */
    background-size: cover;
    background-color: black;
    width: 100vw;
    height: 100vh;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}




/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-radius: 30px;
    margin: 10px;
    position: absolute;
}

header h1 {
    margin: 0;
    /* Ta bort marginalen för h1-elementet */
}

header img {
    max-width: 50px;
    max-height: 50px;
    margin-left: 0px;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.nav_search {
    max-width: 25px;
    max-height: 25px;
    margin-left: 0px;
}

/* ---------- */




/* -------- */
nav {
    /* background-color: #003366; */
    color: #ffffff;
    padding: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}


/* ------ */

main {
    position: fixed;
    padding: 20px;
    margin-top: 30px;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    max-width: 800px;
    margin-bottom: 10px;
    /* Lägg till en inre utfyllnad för att ge utrymme mellan innehållet och kanten av containern */
}



/* ---------- */





/* ----------------- */
h1 {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 3rem;
    font-weight: 900;
    line-height: 0.9;
}

p {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
}

.overline {
    margin-top: 30px;
    margin-bottom: -30px;
    font-size: 0.8rem;
}

.underline {
    margin-top: -30px;
    font-size: 0.7rem;
}

/* ------ */



/* SEARCH */


/* ------------ */




/* FOOTER */
footer {
    /* background-color: #001f3f71; */
    color: #ffffff;
    text-align: left;
    position: fixed;
    bottom: 0;
    padding: 0;
    margin: 0;
    width: 100%;
}

.img_background {
    width: 100%;
    /* Bilden fyller bredden av dess förälder (containern) */
    height: 250px;
    /* Begränsa höjden till höjden av användarens vyhöjd */
    margin: 0;
    /* border-top-left-radius: 10px;
    border-top-right-radius: 10px; */
    display: block;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}


.overlay-text {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px; 
    color: white;
    z-index: 1;
    margin-bottom: -8px;
  }
  

  .overlay-text p {
    font-size: 0.5rem;
    color: white;
    font-weight: 300;
    margin: 10px 0 0;
    text-align: left;
  }

  /* -------------- */







/* INSTÄLLNINGAR FÖR GRID */
@media screen and (min-width: 400px) {
    div.container {
        grid-template-columns: repeat(1, 1fr);
    }
}


@media screen and (min-width: 600px) {
    div.container {
        grid-template-columns: repeat(1, 1fr);
    }
}


@media screen and (min-width: 800px) {
    div.container {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* stora skärmar - skapa en begrändas bredd, ex 1280 px */
@media screen and (min-width: 1280px) {
    div.container {
        width: 1280px;
    }

    header {
        width: 1280px;
    }
}



/* KNAPP */
.button {
    background-color: #ffffff27;
    border: 0.5px solid rgba(255, 255, 255, 0.247);
    color: white;
    padding: 2px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 30px;
    margin-bottom: -5px;
}

.button:hover {
    background-color: #05050573;
}

a:link,
a:visited,
a:active {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 0.7rem;
    font-weight: 300;
    text-decoration: none;
}
/* ------------------------ */





/* SÖKIKONEN */
/* styling search bar */
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff00;
    border-radius: 10px;
    /* box-shadow: 0 0 10px rgba(250, 248, 248, 0.514); */
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 18px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    text-align: left;
  }
  
  select {
    width: 100%;
    padding: 10px;
    height: 55px;
    margin-bottom: 16px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 30px;
    box-sizing: border-box;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
  }
  
  button {
    background-color: #ffffff;
    color: black;
    width: 100%;
    height: 55px;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 30px;
    cursor: pointer;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
  }
  
  button:hover {
    background-color: white;
  }